BasedOnStyle: Google
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: 'Never'
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Allman
BinPackParameters: true
BinPackArguments: true
Cpp11BracedListStyle: false
NamespaceIndentation: All
SpaceAfterTemplateKeyword: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBlock: true
Standard: 'Latest'
UseTab: Always
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4